html,
body {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100%;
}

.imgProfile {
	width: 80px;
	height: 80px;
	border-radius: 30px;
	border: 2px solid gray;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translate(0, -50%);
}

#map {
    margin: 5px 5px 5px 5px;
    border: 5px solid #33363b;
    height: 250px;
}

.container {
height: 100%;
}

.mapContainer {

    /*background-color: blue;*/
    padding: 0;
}

.sidebar {
    background-color: #33363b;
    padding: 0;
    height: 100%;
    font-size: 16px;
}

.topbar {
    height: 100px;
	position: relative;
    background-color: #33363b;
}

.review {
    height: 100%;
}

.locationsList {
    list-style-type: none;
    width: 100%;
    padding-left: 0;
    margin-top: 10px;
}

.listItems {
    display: inline-block;
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
    cursor: pointer;
    color: white;
    margin-bottom: 5px;
    padding-bottom: 1px;
}

.form-control {
    border-radius: 0;
}

#listView {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
}

.recommended {
	padding: 0;
}

.panel-footer {
	/*position: relative;*/
}

.btn-prev {
	left: 0;
}

.btn-next {
	right: 0;
}

@media screen and (min-width: 769px) {
	.content {
		height: 100%;
	}
}